.cartModalContent {
    width: 400px;
    margin: auto;
    padding: 20px 0 20px 0;
}

.errorTitle {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

.errorText {
    margin: 20px 0 50px 0;
    font-size: 18px;
    text-align: center;
    line-height: 200%;
}

.errorAuthor {
    font-size: 16px;
    text-align: right;
    font-style: italic;
}