*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(35, 35, 59);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
    display:block;
}

.button{
    background-color: rgb(87, 217, 166);
    margin: 0 auto;
    width:150px;
    height: 30px;
    border-radius: 5px;
}

img, svg {
    display: block;
}

.container{
    max-width: 1440px;
    margin: auto;
}