.courseList li {
 display: inline-block;
 background-color: aliceblue;
 width:  393px;
 margin-right: 80px; 
 margin-top:0;
 vertical-align: top;
 height:430px;

}

.courseList{
   width: fit-content;
   margin-top:80px;
}
.coursesListBlock{
    margin: auto;
}

.courseList li:last-child{
    margin-right:0; 
}


.label{
    font-size: 24px;
    margin-top: 10px;
}
.tutor{
    font-size: 17px;
    margin-top: 15px;   
}
.price{
    color:gray;
    font-size:20px;
    margin-top: 15px;
}
.buttonMore{
    color:gray;
    font-size:20px;
    margin-top: 15px;
}
.paddingText{
padding: 0px 30px 30px 30px;
}
.closeModalBtn {
    position: absolute;
    top: -10%;
    right: -10%;
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}
.courseModalList{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
    height: 100%;
}
.courseModalList li{
    display: inline-block;
    flex-direction: row;
    width:  393px;
    height:390px;
    margin: 30px;
}
.coursesModalBlock{
    height:100%;
}