.feedBack{
  padding: 80px 200px;
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  .wrapper{
    max-width: 1020px;
    .stars{
      display: flex;
      justify-content: center;
      svg{
        width: 32px;
        height: 32px;
        padding-right: 4px;
      }
    }
    p{
      margin-top: 43px;
      text-align: center;
      max-width: 1000px;
      font-style: italic;
      font-weight: 400;
      font-size: 28px;
      line-height: 42px;
    }
    span{
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: #4E4E65;
      text-align: center;
      display: block;
      margin-top: 37px;
    }
  }
}