.footer {
    margin: auto;
}

.sendEmail {
    margin: auto;
    width: 1280px;
    height: 350px;
    background-color: #57D9A6;
    color: #1C1C33;
}

.sendEmail-content {
    width: fit-content;
    margin: auto;
    padding: 30px;
}

.sendEmail-text {
    font-size: 44px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

.sendEmail-input-box {
    width: fit-content;
    margin: auto;
}

.sendEmail-input {
    width: 400px;
    height: 64px;
    background-color: #57D9A6;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 20px;
}

.sendEmail-button {
    margin-left: 20px;
    width: 116px;
    height: 64px;
    background-color: #1C1C33;
    color: #57D9A6;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid black;
    border-radius: 5px;
}

.footer-navigation {
    width: 100%;
    height: 600px;
    padding-top: 100px;
    background-color: #1C1C33;
}

.footer-content {
    width: fit-content;
    margin: auto;
}

.footer-list {
    margin-top: 80px;
}

.footer-column {
    vertical-align: top;
    display: inline-block;
	width: 300px;
    color: white;
    margin-right: 100px;
	font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

.fn-list {
    padding: 0;
}

.fn-list li{
    margin-bottom: 23px;
    font-size: 18px;
}

.follow li{
    display: inline-block;
    margin-right: 5px;
} 

.bottom-line {
    width: 100%;
    height: 56px;
    background-color: #23233B;
}

.bl-text {
    margin-left: 50px;
}

.bl-list {
    margin: 0;
}

.bl-list li{
    margin: 20px 50px 0 0;
    color: #B2B2BF;
    display: inline-block;
} 