.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.700);
    width: 100%;
    height: 100%;
    z-index: 11;
}

.ifHidden {
    display: none;
}

.content {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 500px;
    transform: translate(-50%, -50%);
    overflow: auto;
    border-radius: 5%;
}
.content.toShowModalContent {
    width: 450px;
    height: fit-content;
}
.content.overflowModal{
    width: 100%;
    max-width:1200px;
    height: 50%;
}