.workshopList li {
    display: inline-block;
    background-color: aliceblue;
    width:  393px;
    margin-right: 80px; 
    margin-top:0;
    vertical-align: top;
    height:430px;
   
   }
   
   .workshopList{
      width: fit-content;
      margin-top:80px;
   }
   .workshopListBlock{
       margin: auto;
       margin-top: 10px;
   }
   
   .workshopList li:last-child{
       margin-right:0; 
   }
   
   
   .description{
       font-size: 24px;
       margin-top: 10px;
   }

   .buttonMore{
       color:gray;
       font-size:20px;
       margin-top: 15px;
   }
   .paddingText{
   padding: 0px 30px 30px 30px;
   }
   .workshopModalList li{
       display: inline-block;
       flex-direction: row;
       width:  393px;
       height:390px;
       margin-right: 70px;
       margin-top: 30px;
   }
.button.btnViewAllW{
    width:247px;
    height:59px;
    font-family: Source Sans Pro;
    font-size: 20px;
}